#cursor {
  position: fixed;
  background: #ea7e43;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

#stalker {
  position: fixed;
  background: #e0e2c5;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin: -5px 0 0 -5px;
  z-index: 9998;
  pointer-events: none;
  opacity: 0.5;
}

@media all and (min-width: 768px) {
  .left-align {
    text-align: left;
  }
}

.toggleBox-jp {
  /* font-size: 1.2rem; */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

/* https://into-the-program.com/javascript-loader/ */
#loader {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  position: fixed;
  /* position: relative; */
  top: 0;
  left: 0;
}

/* .icon {
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  animation: fadeIn 10s ease infinite;
}

@keyframes fadeIn {
  from {
    scale: .5;
    transform: translateY(100px);
  }

  to {
   scale: 1.1;
    transform: translateY(0px);
  }
} */

.loading-img-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

/* .loading-bg, .loading-wave {
  position: absolute;
  top: 25vh;
  left: 35vw;
  width: 25vw;
}

.loading-bg {
  animation: changingColor 10s ease infinite;
  width: 25vw;
  height: 25vw;
  border-radius: 500px;
  
} */

.loading-waves {
  position: relative;
  width: 20vw;
  height: 20vw;
  z-index: 1;
  border-radius: 1000px;
  animation: changingColor 10s ease infinite;
  overflow: hidden;
}

@keyframes changingColor {
  0% {
    /* background-color: #c9c8c4; */
    background: linear-gradient(
      180deg,
      rgba(249, 247, 234, 0) 0%,
      #f9f7ea 100%
    );
  }
  60% {
    background-color: #faccba;
  }
  /* 80% {
    background: linear-gradient(180deg, rgba(182, 215, 236, 0.50) -17.38%, rgba(83, 195, 208, 0.50) 145.96%);
    } */
  100% {
    /* background-color: #c9c8c4; */
    background: linear-gradient(
      180deg,
      rgba(249, 247, 234, 0) 0%,
      #f9f7ea 100%
    );
  }
}

.loading-wave8 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  transform: translateY(10px);
  scale: 1.5;
  z-index: 2;
  animation: wave8 9s ease-in-out infinite;
}

@keyframes wave8 {
  0% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-5px);
    scale: 3;
  }
  100% {
    transform: translateY(10px);
  }
}

.loading-wave5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  transform: translateY(20px);
  animation: wave5 9s ease-in-out infinite;
}

@keyframes wave5 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(20px);
  }
}


.loading-wave6 {
  position: absolute;
  bottom: -13%;
  left: 0;
  width: 100%;
  height: 15vh;
  transform: translateY(20px);
  animation: wave6 9s ease-in-out infinite;
  transform: scaleX(-1);
}

/* .loading-wave {
  z-index: 2;
}

.loading-sun {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 5vw;
  z-index: 1;
  animation: dawn 3s ease infinite;
} */

@keyframes dawn {
  from {
    scale: 0.5;
    transform: translateY(20px);
  }

  to {
    scale: 1.1;
    transform: translateY(-20px);
  }
}

#loader.loaded {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

.dn-in-pc {
  display: none;
  width: 10%;
}

.dn-in-sp {
  display: block;
}

.display-none {
  display: none;
}

@media all and (max-width: 768px) {
  .dn-in-pc {
    display: block;
    width: 10%;
  }

  .dn-in-sp {
    display: none;
  }

  .loading-waves {
    position: relative;
    width: 40vw;
    height: 40vw;
    z-index: 1;
    border-radius: 1000px;
    animation: changingColor 10s ease infinite;
    overflow: hidden;
  }

  @keyframes wave8 {
    0% {
      transform: translateY(10px);
    }
    40% {
      transform: translateY(5px);
      scale: 2.8;
    }
    100% {
      transform: translateY(10px);
    }
  }

}
