/* 
font-family: 'Crimson Pro', serif;
font-family: 'Crimson Text', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Spline Sans', sans-serif;
font-family: 'Spline Sans Mono', monospace;
*/
:root {
  --hero-bg: #eecc98;
  --text: #3a5d42;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

::selection {
  background: var(--text);
  color: white;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.section {
  box-sizing: border-box;
  padding: 6rem 0;
  margin: 0 auto;
}

a {
  color: #e16c64;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  scale: 1.05;
  color: #fff;
  z-index: 99;
}

p {
  margin-bottom: 0;
}

.heading {
  background-color: var(--text);
  border-radius: 10px;
  color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.heading.toggleBox-jp  {
  /* font-size: .5rem; */
}

/* TRANSLATE */

#translate {
  position: fixed;
  z-index: 9999;
  border: none;
  background-color: transparent;
  top: 7rem;
  right: 6rem;
  -ms-writing-mode: lr-bt;
  writing-mode: horizontal-tb;
  padding: 0;
  font-size: 2rem;
  color: rgb(238, 204, 152);
}

#translate p {
  -ms-writing-mode: lr-bt;
  writing-mode: horizontal-tb;
}

/* NAVBAR */

.navbar {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 4rem;
  /* padding: 2vw 4vw; */
  width: 100%;
  z-index: 10;
  height: 10px;
}

.navbar-brand {
  width: 5rem;
  height: auto;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-link {
  position: relative;
  width: 4rem;
}

.nav-link:hover {
  opacity: 0.6;
}

/* img */
.nav-link .social-icon {
  width: 100%;
  height: 100%;
}

/* HERO */

.hero {
  display: flex;
  height: 99vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 3rem;
}

.hero-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
}

/* absolute stuff */
.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--hero-bg);
  opacity: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 35%;
  filter: blur(3px);
  top: 0;
  left: 0;
}

/* hero top */
.hero-top {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.hero-top h1 {
  font-size: 5rem;
  background-color: transparent;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.hero-top h3 {
  font-size: 3rem;
}

.I-work-with {
  width: 80%;
  margin: 0 auto;
}

/* hero bottom */
.hero-bottom {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

/* hero bottom container */
.hero-bc {
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

/* h3 */
.hero-bc-h {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* div */
.hero-bc-p {
}

.hero-bc-p p {
  padding: 0;
}

/* parallax */
.parallax-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.paramotion {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(0px) translateZ(0px);
  opacity: 0.7;
}

/* BIO */
.bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bio_img_container {
  width: 30%;
  height: auto;
  margin: 0 auto;
  background-image: url(../public/expand-long-min.avif);
  background-position: center 30%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio_img {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  border-radius: 50%;
}

.bio_text {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.bio_name {
  text-align: center;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgb(98, 121, 129) 0%,
    rgb(103, 138, 163) 20%,
    rgb(91, 121, 83) 35%,
    rgba(188, 168, 120, 0.842) 71%,
    rgba(202, 197, 152, 0.842) 85%,
    rgba(190, 161, 88, 0.808) 100%
  );

  background: linear-gradient(to bottom left, #eee8cc, #fbb06a7c, #bf4c866f,  #563d7c7d, #615196aa);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 3rem;
  margin: 0 auto;
}

.bio_snt {
  margin: 2rem auto;
}

.bio_snt.show {
  transform: translateX(0);
  opacity: 1;
}

/* CURRENTLY */
.currently {
  width: 100%;
  height: 100%;
}

.currently_container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 3rem auto 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.currently h3 {
  margin-bottom: 2rem;
  font-weight: bold;
}

.currently_img_pa {
  position: relative;
  background-size: cover;
  background: linear-gradient(to bottom left, #eee8cc, #fbb06a7c, #bf4c866f,  #563d7c7d, #615196aa);

  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

.currently_middle .currently_img_pa {
  background-position: center 10%;
}

.currently_right .currently_img_pa {
  background-position: center 25%;
}

.currently_img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  object-position: center 0%;
  scale: 0.8;
}

.currently_child {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

.currently_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
}

.currently_text h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.currently_text .heading {
  margin: 1rem auto;

}



.currently_text p {
  text-align: left;
}

.currently_left {
  /* position: absolute; */
}

.currently_left {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.currently_middle {
  /* position: absolute; */
  /* left: 35%; */
}

.currently_middle {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.currently_right {
  /* position: absolute; */
  /* left: 70%; */
}

.currently_right {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 3rem;
  background-color: #fbf4ea;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .bio_name {
  font-size: 1.3rem;
  margin: 3rem auto;
}

@media all and (max-width: 768px) {
  h3 {
    text-align: center;
  }

  /* NAVBAR */
  .navbar {
    padding: 1rem;
  }
  .navbar-brand {
    width: 3rem;
  }

  .navbar-nav {
    gap: 1rem;
  }

  .nav-link {
    width: 2rem;
    padding: 0;
  }

  .nav-item {
    margin: 0 auto;
  }


  /* HERO */
  .hero {
    min-height: 53rem;
    padding: 0;
    width: 100%;
  }

  .hero-container {
    width: 80%;
    justify-content: center;
    gap: 1rem;
  }

  .hero-top {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    margin-bottom: 1rem;
  }

  .hero-top h1 {
    font-size: 3rem;
  }

  .hero-top h3 {
    font-size: 2rem;
  }

  .hero-bottom {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .hero-bc {
    width: 100%;
  }

  .hero-bc-p p {
    padding: 0.5rem 0;
  }

  /* BIO */
  .bio.section {
  }

  .bio_text {
    width: 80%;
  }

  .bio_img_container {
    width: 45%;
  }

  .bio_name {
    margin: 5vh auto 0;
  }

  /* CURRENTLY */
  .currently {
    height: auto;
    width: 90vw;
    margin: 0 auto;
    padding: 6rem 0 3rem;
}
  .currently_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80%;
  }


  .currently_img {
    width: 60vw;
    height: 60vw;
    object-fit: cover;
    object-position: center 0%;
    scale: 0.8;
  }

  .currently_child {
    width: 80%;
    margin: 2rem auto;
  }

  .currently_left {
    position: relative;
  }

  .currently_middle {
    position: relative;
    left: 0%;
  }

  .currently_right {
    position: relative;
    left: 0%;
  }

  .currently_text .heading {
      font-size: 1.1rem;
      padding: 0.5rem 0.75rem;
    }
    

  .currently_text p {
    text-align: left;
  }
}



@media all and (max-width: 991px) {
  #translate {
    top: 18rem;
    right: 3.3rem;
    padding: 0;
  }

  #translate p {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    padding: 0;
    margin: 0 auto;
  }
}



/* CSS Tips And Tricks I Wish I Knew Before */
/* https://www.youtube.com/watch?v=2KWdT4PkXgY&ab_channel=LamaDev */
/* clip-path */
.container {
  margin: 10vh auto;

  width: 300px;
  height: 300px;
  background-color: seagreen;
  /* half of the given size */
  clip-path: circle(30% at 50% 50%);
  /* clip-path: circle(50% at 20px 70%); */
  transition: all .6s ease;
  /* 1:40~🙋‍♀️ */
  /* clip-path: polygon( 0 0, 10% 0, 100% 100%, 0 100%); */
  /* clip-path: path( "M-1.30739e-05 47C2.13067 46.8534 8.37515 45.7031 15.3757 44.4135C24.7919 42.679 35.576 40.6925 39.5564 40.5575C46.4018 40.3258 43.1962 39.1833 39.6206 37.9089C35.6564 36.496 31.2374 34.921 39.5564 34.2453C50.9773 33.3174 51.3321 30.8031 51.6028 28.8851C51.7598 27.773 51.8884 26.8613 54.1299 26.5757C56.1172 26.3215 58.3044 25.9174 60.8134 25.4539C67.416 24.234 76.2464 22.6026 89.5225 22.2091C100.609 21.8658 106.091 18.1123 106.661 17.7223L106.663 17.7205C106.941 17.449 109.717 15.7295 113.048 13.8834C122.763 8.23631 132.202 5.86526 147.191 5.41277C151.078 5.30418 161.904 5.15938 171.619 5.08698C185.221 4.99649 196.602 4.72499 221.863 3.91052C239.629 3.31323 264.056 2.58925 275.993 2.29966C287.651 1.99197 299.865 1.66617 302.919 1.57567C326.236 0.905993 360.935 -0.035184 361.49 0.00101494C363.156 0.127711 363.711 46.915 361.768 46.9512C361.011 46.9759 214.624 46.9921 -1.30739e-05 47Z"); */
  /* bird */
  /* clip-path: path("M2.99992 0.533251C-0.733409 1.59992 0.333258 2.53325 6.73326 3.99992C10.1999 4.66658 11.7999 6.13325 14.0666 10.7999C16.3333 15.7333 16.5999 17.0666 15.1333 17.8666C14.1999 18.5333 13.6666 19.5999 14.1999 20.3999C15.1333 21.8666 21.9333 19.1999 25.9333 15.5999C27.9333 13.8666 28.5999 14.1333 31.6666 17.4666L34.9999 21.3333L34.7333 15.9999C34.3333 10.6666 34.3333 10.6666 28.9999 10.6666C22.3333 10.6666 20.3333 9.33325 20.3333 5.33325C20.3333 3.59992 19.9333 1.86658 19.3999 1.59992C17.2666 0.266584 6.19992 -0.400083 2.99992 0.533251Z"); */
}

.container:hover {
  clip-path: circle(100%);
    /* 1:40~🙋‍♀️ */
  /* clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 100%); */
  /* clip-path: path("M-1.30739e-05 184C2.13067 183.426 8.37515 178.923 15.3757 173.874C24.7919 167.084 35.576 159.307 39.5564 158.778C46.4018 157.871 43.1962 153.398 39.6206 148.409C35.6564 142.878 31.2374 136.712 39.5564 134.067C50.9773 130.434 51.3321 120.591 51.6028 113.082C51.7598 108.728 51.8884 105.159 54.1299 104.041C56.1172 103.046 58.3044 101.464 60.8134 99.6491C67.416 94.8736 76.2464 88.4868 89.5225 86.9464C100.609 85.6022 106.091 70.9079 106.661 69.3808L106.663 69.3737C106.941 68.3108 109.717 61.5793 113.048 54.3519C122.763 32.2443 132.202 22.9619 147.191 21.1904C151.078 20.7653 161.904 20.1984 171.619 19.915C185.221 19.5607 196.602 18.4978 221.863 15.3092C239.629 12.9709 264.056 10.1366 275.993 9.00291C287.651 7.79833 299.865 6.52288 302.919 6.16859C326.236 3.54686 360.935 -0.137748 361.49 0.00396679C363.156 0.49997 363.711 183.667 361.768 183.809C361.011 183.906 214.624 183.969 -1.30739e-05 184Z"); */

 /* bird */
 /* clip-path: path("M0.666992 1.19992C0.666992 1.46659 2.13366 4.93326 3.86699 8.93326C6.80033 15.7333 8.93366 17.9999 16.1337 23.0666C18.4003 24.6666 18.267 24.6666 14.9337 24.2666C11.7337 23.7333 11.3337 23.9999 12.1337 26.5333C12.5337 27.9999 13.867 30.1333 15.067 30.9333C18.0003 33.3333 23.3337 33.0666 23.3337 30.6666C23.3337 28.9333 25.867 28.6666 41.7337 29.1999C54.1337 29.7333 57.867 29.4666 53.3337 28.7999C49.7337 28.1333 44.9337 26.9333 42.9337 26.1333C40.8003 25.3333 36.267 24.6666 32.8003 24.6666C26.8003 24.6666 25.7337 23.9999 16.1337 15.8666C10.5337 11.0666 5.20033 5.73326 4.40033 3.86659C3.20033 1.19992 0.666992 -0.666744 0.666992 1.19992Z"); */

}
