.works {
  position: relative;
  box-sizing: border-box;
  padding: 6rem 0;
  width: 100%;
  margin: 0;
  border-radius: 40px;
  overflow: hidden;
}

.works-bg::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* background-color: rgba(183, 175, 148, 0.468); */
  /* background: #00668873; */
  background: transparent;
}

.works h2 {
  font-size: 4rem;
  position: relative;
}

.work-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 110%;
  height: 60vh;
  margin: 8rem auto;
  padding: 2.5rem;
  z-index: 9;
  position: relative;
  border-radius: 20px;
  /* background: linear-gradient(
    180deg,
    rgba(244, 243, 239, 0.5) -17.38%,
    rgba(10, 130, 198, 0.5) 145.96%
  );
  background: linear-gradient(180deg, rgba(182, 215, 236, 0.327) -17.38%, rgba(83, 196, 208, 0.243) 145.96%); */
}

.work-flex .paramotion {
  opacity: 1;
  /* transform: translateY(10rem); */
  /* padding-top: 20%; */
}

.minus-x {
  transform: translateX(-10%);
}

.work-flex.plus-x {
  flex-direction: row-reverse;
}

.plus-x {
  transform: translateX(5%);
}

.works-img-container {
  position: relative;
  width: 50vw;
  height: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 40px;
}

.works-img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  transform: scale(-1, -1); 
  background: url(/hero/sky.png);
  background-size: cover;
  z-index: -1;
}

.plus-x .works-img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  transform: scaleY(-1); 
  background: url(/hero/sky.png);
  background-size: cover;
  z-index: -1;
}



.works-pc-img {
  position: absolute;
  top: 5vh;
  left: 2%;
  width: 30vw;
  height: auto;
  object-fit: cover;
  object-position: center 0%;
}

.works-tablet-img {
  position: absolute;
  top: 17vh;
  left: 55%;
  width: 15vw;
  height: auto;
  object-fit: cover;
  object-position: center 0%;
}

.works-sp-img {
  position: absolute;
  top: 12vh;
  left: 43%;
  width: 7vw;
  height: auto;
  object-fit: cover;
  object-position: center 0%;
}

.works-text {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.works-text-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

.works-text h3 {
  font-family: "Crimson Pro", serif;
  font-size: 2.5rem;
}

/* .works-text-title a {
  position: relative;
  padding: 0.5rem 1rem;

  box-sizing: border-box;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
} */

.works-text-sent {
  width: 100%;
  padding: 1.5rem 0 2rem;
  margin: 0 auto;
}

.works-text-sent p {
  margin: 0;
  padding: 0;
}

.language-meter {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 1.5rem;
  gap: 0.5rem;
}

.language-meter-info {
  display: flex;
  width: 80%;
  margin: 1rem 0 0;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

.language-meter-info p {
  /* font-size: 1rem; */
}

.language-meter-info p:not(:last-of-type) {
  padding-right: 1rem;
}

.meter-html {
  background-color: #e56559;
  border-radius: 20px;
}

.meter-css {
  background-color: #563d7c;
  border-radius: 20px;
}

.meter-ts {
  background-color: #007acc;
  border-radius: 20px;
}

.meter-js {
  background-color: #f0e05a;
  border-radius: 20px;
}

.html,
.css,
.ts,
.js {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin: 0 0.5rem;
}

.html-circle,
.css-circle,
.ts-circle,
.js-circle {
  width: min(2vw, 1rem);
  height: min(2vw, 1rem);
  border-radius: 50%;
  margin: 0 auto;
}

.html-circle {
  background-color: #e34c26;
}

.css-circle {
  background-color: #563d7c;
}

.ts-circle {
  background-color: #007acc;
}

.js-circle {
  background-color: #f1e05a;
}

@media all and (max-width: 768px) {
  .works h2 {
  }
  .works-bg {
    background-size: 800%;
  }
  .work-flex {
    padding: 5%;
    height: auto;
    gap: 3rem;
    width: 96%;
    margin: 4rem auto 2rem;
    flex-direction: column;
  }

  .minus-x {
    transform: translateX(0%);
  }

  .work-flex.plus-x {
    transform: translateX(0%);
    flex-direction: column;
  }

  .works-img-container {
    background-size: contain;
    background-position: center 100%;
    background-size: 200%;
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
  }

  .works-pc-img {
    position: absolute;
    top: 23vh;
    left: -10%;
    width: 70%;
  }

  .works-tablet-img {
    position: absolute;
    top: 5vh;
    left: 55%;
    width: 45%;
    height: auto;
    object-fit: cover;
    object-position: center 0%;
  }

  .works-sp-img {
    position: absolute;
    top: 10vh;
    left: 30%;
    width: 25%;
    height: auto;
    object-fit: cover;
    object-position: center 0%;
  }

  .works-text {
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
  .works-text-title {
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .works-text-title a.toggleBox-jp {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .works-text-title h2 {
    font-size: 2rem;
  }

  .works-text-sent {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .language-meter {
    width: 100%;
  }

  .language-meter-info {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 0.1rem;
  }
}
