.works {
  position: relative;
  box-sizing: border-box;
  padding: 6rem 0;
  width: 96%;
  margin: 0 auto;
  border-radius: 40px;
  overflow: hidden;
}




.works-bg::before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* background-color: rgba(183, 175, 148, 0.468); */
  /* background: #00668873; */
  background:transparent;
}

.works h2 {
  font-size: 3rem;
  position: relative;
}

.work-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* height: 70vh; */
  width: 60%;
  margin: 5rem auto;
  padding: 2.5rem;
  z-index: 9;
  position: relative;
  background-color: rgba(145, 125, 125, 0.373);
  background-color: #C5D7CE ;
  border-radius: 20px;
}

.work-flex .paramotion {
  opacity: 1;
  /* transform: translateY(10rem); */
  /* padding-top: 20%; */
}

.works-img-container {
  position: relative;
  background-size: cover;
  /* background: linear-gradient(to bottom left, #eee8cc, #fbb06a7c, #bf4c866f, #563d7c7d, #615196aa); */
  background: url(/bubblewave.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  /* background-size: 300% 100%; */
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.25rem;
background-color: rgba(255, 255, 255, 0.50);
  
}

.works-pc-img {
  position: absolute;
  top: 5vh;
  left: 5%;
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center 0%;
}

.works-tablet-img {
  position: absolute;
  top: 17vh;
  left: 50%;
  width: 30%;
  height: auto;
  object-fit: cover;
  object-position: center 0%;
}

.works-sp-img {
  position: absolute;
  top: 10vh;
  left: 80%;
  width: 15%;
  height: auto;
  object-fit: cover;
  object-position: center 0%;
}

.works-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works-text-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}



/* .works-text-title a {
  position: relative;
  padding: 0.5rem 1rem;

  box-sizing: border-box;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
} */


.works-text-sent {
  width: 80%;
  padding: 1.5rem 0 2rem;
  margin: 0 auto;
}

.works-text-sent p {
  margin: 0;
  padding: 0;
}

.language-meter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 1.5rem;
}

.language-meter-info {
  display: flex;
  width: 80%;
  margin: 1rem 0 0;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.language-meter-info p {
  /* font-size: 1rem; */
}

.language-meter-info p:not(:last-of-type) {
  padding-right: 1rem;
}

.meter-html {
  background-color: #e56559;
  border-radius: 20px 0 0 20px;
}

.meter-css {
  background-color: #563d7c;
}

.meter-ts {
  background-color: #007acc;
}

.meter-js {
  background-color: #f0e05a;
  border-radius: 0 20px 20px 0;
}

.html,
.css,
.ts,
.js {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin: 0 0.5rem;
}

.html-circle,
.css-circle,
.ts-circle,
.js-circle {
  width: min(2vw, 1rem);
  height: min(2vw, 1rem);
  border-radius: 50%;
  margin: 0 auto;
}

.html-circle {
  background-color: #e34c26;
}

.css-circle {
  background-color: #563d7c;
}

.ts-circle {
  background-color: #007acc;
}

.js-circle {
  background-color: #f1e05a;
}

@media all and (max-width: 768px) {
  .works h2 {
  }
  .works-bg {
    background-size: 800%;
  }
  .work-flex {
    padding: 5%;
    height: auto;
    width: 90%;
    margin:  4rem auto 2rem;
  }

  .works-img-container {
    background-size: contain;
    background-position: center 100%;
    background-size: 200%;
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
  }

  .works-pc-img {
    position: absolute;
    top: 23vh;
    left: -10%;
    width: 70%;
  }

  .works-tablet-img {
    position: absolute;
    top: 5vh;
    left: 55%;
    width: 45%;
    height: auto;
    object-fit: cover;
    object-position: center 0%;
  }

  .works-sp-img {
    position: absolute;
    top: 10vh;
    left: 30%;
    width: 25%;
    height: auto;
    object-fit: cover;
    object-position: center 0%;
  }

  .works-text {
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
  .works-text-title {
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .works-text-title a.toggleBox-jp {
    font-size: 1.1rem;
    padding:  0.5rem 1rem;
  }

  .works-text-title h2 {
    font-size: 2rem;
  }

  .works-text-sent {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .language-meter {
    width: 100%;
  }

  .language-meter-info {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: .1rem;
  }
}
