.works {
  position: relative;
  box-sizing: border-box;
  /* padding: 6rem 0; */
  width: 100%;
  margin: 0;
  border-radius: 40px;
  overflow: hidden;
}

.works h2 {
  font-size: 4rem;
  position: relative;
}

.works__work {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  width: 92%;
  height: 65vh;
  margin: 10rem auto;
  padding: 3rem;
  z-index: 9;
  position: relative;
  border-radius: 40px;
  overflow: visible;

  background-color: #ffffff7d;
  box-sizing: border-box;
  backdrop-filter: blur(35px);
  background-blend-mode: overlay;
}

.works__work .paramotion {
  opacity: 1;
}

.work-img-container {
  position: relative;
  width: 45vw;
  height: 100%;
  margin: 0;
  overflow: visible;
  /* border: 2px solid #fff; */
  border-radius: 40px;
}

.works-img1 {
  width: 35%;
  height: auto;
  position: absolute;
  top: −10vh;
  left: 10%;
  z-index: 10;
}

.works-img2 {
  width: 40%;
  height: auto;
  position: absolute;
  top: 0vh;
  left: 40%;
  z-index: 9;
}

.works__work.money-forest {
  flex-direction: row-reverse;
}

.money-forest .work-img-container .works-img1 {
  top: -4vh;
  left: 52%;
}

/* ホーム */
.money-forest .work-img-container .works-img2 {
  top: 0vh;
  left: 18%;
}

.work-text {
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  /* gap: .5rem; */
}

.work-time {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.work-date {
  border-radius: 40px;
  border: 2px solid var(--text);
  padding: 0.625rem 1.25rem;
}

.work-tool-logo {
}

.work-period {
  display: flex;
}

.work-semi-title {
  font-size: 1.4rem;
}

.work-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.work-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

.work-text h3 {
  font-family: "Crimson Pro", serif;
  font-size: 3rem;
  margin: 0;
}

.work-text-sent {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;

  /* display: grid;
  grid-template-columns: auto min-content;
  gap: 20px; 
  width: 100%;
  padding: 0;
  margin: 0 auto;
  align-items: center;  */
}

.work-text-sent p {
  /* flex: 1;  */

  margin: 0;
  padding: 0;
}

.arrow-container {
  float: right;
  shape-outside: circle(50%);
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 100%;
}

.arrow-container:hover {
  background-color: #065D44;
  opacity: 1;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.arrow-adjust {
  transform: translate(0%, -40%);
}

.arrow-rect {
  transition: all 0.3s ease;
}

.arrow-container:hover .arrow-rect {
  fill: #065D44;
}

.arrow-border {
  transition: all 0.3s ease;

}

.arrow-container:hover .arrow-border {
  /* fill: #fff; */
}

.arrow-path {
  transition: all 0.3s ease;

}

.arrow-container:hover .arrow-path {
  fill: #fff;
}

@media all and (max-width: 768px) {
  .works h2 {
  }

  .works__work {
    padding: 2rem;
    height: auto;
    gap: 3rem;
    width: 90%;
    margin: 5rem auto 2rem;
    flex-direction: column;
  }

  .work-img-container {
    background-size: contain;
    background-position: center 100%;
    background-size: 200%;
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
  }

  .works-img1 {
    width: 40%;
    height: auto;
    position: absolute;
    top: −10vh;
    left: 10%;
    z-index: 10;
  }
  
  .works-img2 {
    width: 45%;
    height: auto;
    position: absolute;
    top: 0vh;
    left: 45%;
    z-index: 9;
  }
  
  .works__work.money-forest {
    flex-direction: column;
  }
  
  .money-forest .work-img-container .works-img1 {
    top: -4vh;
    left: 52%;
  }
  
  /* ホーム */
  .money-forest .work-img-container .works-img2 {
    top: 0vh;
    left: 10%;
  }
  



  .work-text {
    width: 100%;
    align-items: center;
    gap: 2rem;
  }

  .work-time {
    width: 100%;
  }

  .work-date {
    font-size: 1rem;
    white-space: nowrap;
  }

  .work-period {
    flex-direction: column;
  }

  .work-title {
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .work-semi-title {
    font-size: 1.3rem;
  }

  .work-title a.toggleBox-jp {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .work-title h2 {
    font-size: 2rem;
  }

  .work-text-sent {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .arrow-adjust {
    transform: translate(0%, 0%);
}

}
