/* .anime_pa {
position: relative;
border: 1px solid black;
width: 80vw;
height: 30vh;
margin: 10vh auto;

}

.anime_left {
position: absolute;
width: 20vw;
height: 20vh;
border: 1px solid salmon;
border-radius: 50%;

}

.anime_right {
position: absolute;

} */

/* 🌸 だめだめだあ😵😵 */
.anime_pa {
    position: relative;
    border: 1px solid black;
    width: 80vw;
    height: 30vh;
    margin: 10vh auto;
    /* perspective: 800px; 3D効果を設定するための透視距離 */
  }
  
  .anime_left {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid salmon;
    border-radius: 50%;
  
    /* anime_leftのアニメーション定義 */
    animation-name: slideAndRotate;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotate {
    0% {
      opacity: 0;
      transform: translateY(1000%); /* 初期位置 */
      left: 45%;
    }
    50% {
      opacity: 0.5;
      transform: translateY(25%); /* 移動後の位置と角度 */
      left: 45%;
    }
    100% {
      opacity: 1;
      left: 10%;
      transform: translateY(25%);
    }
  }
  
  .anime_right {
    position: absolute;
    opacity: 0; /* 最初は見えないように設定 */
    /* left: 100%; 初期位置は画面外に設定 これに最終的になるように */
    top: 20%;
  
    /* anime_rightのフェードインのアニメーション定義 */
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 3s; /* anime_leftのアニメーションと同期させるために遅延させる */
    animation-fill-mode: forwards;
  
    width: 40vw;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      left: 10%; /*初期位置*/
    }
    100% {
      opacity: 1;
      left: 40%; /*移動後の位置（画面の中央）*/
    }
  }