

/* 🌸 だめだめだあ😵😵 */
.currently_pa {
    position: relative;
    border: 1px solid black;
    width: 80vw;
    height: 50vh;
    margin: 10vh auto;
    /* perspective: 800px; 3D効果を設定するための透視距離 */
  }
  
  .currently_left {
    /* position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid salmon;
    border-radius: 50%; */
  
    /* currently_leftのアニメーション定義 */
    animation-name: slideAndRotateLeft;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotateLeft {
    0% {
      opacity: 0;
      transform: translateY(1000%); /* 初期位置 */
      left: 37.5%;
    }
    50% {
      opacity: 0.5;
      transform: translateY(30%); /* 移動後の位置と角度 */
      left: 37.5%;
    }
    100% {
      opacity: 1;
      left: 5%;
      transform: translateY(30%);
    }
  }
  


  .currently_middle {
    /* position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid salmon;
    border-radius: 50%; */

    left: 37.5%;
  
    /* currently_leftのアニメーション定義 */
    animation-name: slideAndRotateMiddle;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotateMiddle {
    0% {
      opacity: 0;
      transform: translateY(1000%); /* 初期位置 */
      
    }
    50% {
      opacity: 0.5;
      transform: translateY(30%); /* 移動後の位置と角度 */
      
    }
    100% {
      opacity: 1;
      
      transform: translateY(30%);
    }
  }









  .currently_right {
    /* position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid salmon;
    border-radius: 50%; */
  
    /* currently_leftのアニメーション定義 */
    animation-name: slideAndRotateRight;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotateRight {
    0% {
      opacity: 0;
      transform: translateY(1000%); /* 初期位置 */
      left: 37.5%;
    }
    50% {
      opacity: 0.5;
      transform: translateY(30%); /* 移動後の位置と角度 */
      left: 37.5%;
    }
    100% {
      opacity: 1;
      left: 70%;
      transform: translateY(30%);
    }
  }




.slideAndRotate {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border: 1px solid salmon;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%
  ;
  
}

