#cursor {
  position: fixed;
  background: #2DB696;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

#stalker {
  position: fixed;
  background: #E0E2C5;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin: -5px 0 0 -5px;
  z-index: 9998;
  pointer-events: none;
  opacity: 0.5;
}

@media all and (min-width: 768px) {
  .left-align {
    text-align: left;
  }
}

.toggleBox-jp {
  font-family: 'Noto Serif JP', serif;
  font-size: min(7vw, 1rem);
}

.fa-twitter:hover {
  color: #1d9bf0;
}

.fa-instagram:hover {
  color: #e905ab;
}

.fa-linkedin-in:hover {
  color: #004182;
  color: #1472d1;
}

.fa-github:hover {
  color: rgb(158, 154, 154);
}

.fa-note-sticky:hover {
  color: #2cb696;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

/* https://into-the-program.com/javascript-loader/ */

/* https://1-notes.com/css-border-animation/ */

#loader {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sun {

  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  animation: rotate 10s ease infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 読み込み完了後に「loaded」を付与する */

#loader.loaded {
    animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
      z-index: -1;
    }
  }

  

.dn-in-pc {
  display: none;
  width: 10%;
}

.dn-in-sp {
  display: block;
}

/* TRANSLATE */
#translate {
  position: fixed;
  top: 17rem;
  right: 1rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 9999;
  color: #73aa8f;
  border: none;
  background-color: transparent;
  /* cursor: none; */
  min-width: 1rem;
  min-height: 102px;
}

#translate.change-color {
  color: #9a5e8c;
}

#translate p {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

@media all and (min-width: 990px) {
  #translate {
    top: 4rem;
    right: 2rem;
    -ms-writing-mode: lr-bt;
    writing-mode: horizontal-tb;
  }

  #translate p {
    -ms-writing-mode: lr-bt;
    writing-mode: horizontal-tb;
    padding-right: 2rem;
  }
}

.display-none {
  display: none;
}

@media all and (max-width: 768px) {
  #translate {
    right: 1rem;
  }
}
