.eye-container {
    text-align: center;
    display: inline-block;
    margin: 2vw;
  }
  
  .eye-container img {
    width: 30px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .eye-container a {
    font-size: min(3vw, 20px);
    color: var(--green);
  }
  
  .eye-container a.toggleBox-jp {
    font-size: min(2vw, 1rem);
  }
  
  .works__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    width: 100%;
    margin: 14vh auto;
    padding: 0 10%;
    /* height: 70vh; */
}
  
  .works__image {
    position: relative;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #86beb891;
    width: 50%;
    height: 60%;
  }
  

  .works__image img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center 0%;
    scale: .8;
  }

  
  .works__text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .works__text__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .works__text__sent {
    width: 85%;
    padding: 10% 0;
    margin: 0 auto;
  }
  
  .language-meter {
    width: 85%;
    margin: 0 auto;
    display: flex;
    /*🌸 The border-radius property isn't working because it's being applied to .language-meter which is the parent container for .meter-html, .meter-css, and .meter-js. The border-radius should be applied to the child elements instead. */
    /* border-radius: 20px; */
    height: 1rem;
  }
  
  
  /* - - - - - -  */
  
  .language-meter-info {
    display: flex;
    width: 85%;
    margin: 2vh auto;
    align-items: center;
  }
  
  .language-meter-info p {
    font-size: 1rem;
  }
  
  .language-meter-info p:not(:last-of-type) {
    padding-right: 1.2rem;
  }
  
  .meter-html {
    background-color: #E56559;
    border-radius: 20px 0 0 20px;
  }
  
  .meter-css {
    background-color: #563D7C;
  }

  .meter-js {
    background-color: #F0E05A;
    border-radius: 0 20px 20px 0;
  }
  
  .html-circle,
  .css-circle,
  .js-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
  }
  
  .html-circle {
    background-color: #e34c26;
  }
  
  .css-circle {
    background-color: var(--green);
  }
  
  .js-circle {
    background-color: #f1e05a;
  }
  
  
  /* mobile */
  
  @media all and (max-width: 767px) {
    .works__flex {
        display: inline-block;
        height: auto;
    }
    .works__image {
        height: 40vh;
    }
    .works__text {
        margin-top: 10vh;
    }
    .works__text__title {
        display: inline-block;
        align-items: center;
    }
    .works__text__sent {
        width: 85%;
        padding: 3vh 0;
        margin: 0 auto;
    }
  }
  
  



