.works {
  /* https://onishi-noboru.com/css-how-to-fix-background-image */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 1%;
  padding: 5vh 0;
}




.works_bg {
  background-image: url(../public/expand-long.png);
  position: relative;
}

.works_bg::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(183, 175, 148, 0.468);
}

.works h2 {
  padding: 5vw;
}

.works__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  width: 90%;
  margin: 14vh auto;
  padding: 2% 5%;
  z-index: 9;
  position: relative;
  background-color: rgba(255, 255, 255, 0.373);
  border-radius: 20px;
}

.works__image {
  position: relative;
  background-size: cover;
  background: -moz-linear-gradient(top left, #d2d984, #da7daf);
  background: -webkit-linear-gradient(top left, #73fb12, #553a8f);
  background: linear-gradient(to bottom right, #eee8cc, #c3dcde);
  width: 50%;
  height: 60%;
  border-radius: 20px;
  margin: 5vh auto;
}

.works__image__img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center 0%;
  scale: 0.8;
}



.works__text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works__text__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.works__text__sent {
  width: 85%;
  padding: 5% 0 ;
  margin: 0 auto;
}

.language-meter {
  width: 85%;
  margin: 0 auto;
  display: flex;
  height: 1rem;
}

.language-meter-info {
  display: flex;
  width: 85%;
  margin: 2vh auto;
  align-items: center;
}

.language-meter-info p {
  font-size: 1rem;
}

.language-meter-info p:not(:last-of-type) {
  padding-right: 1rem;
}

.meter-html {
  background-color: #e56559;
  border-radius: 20px 0 0 20px;
}

.meter-css {
  background-color: #563d7c;
}

.meter-js {
  background-color: #f0e05a;
  border-radius: 0 20px 20px 0;
}

.html-circle,
.css-circle,
.js-circle {
  width: 2.5vw;
  width: min(2vw, 1rem);
  height: min(2vw, 1rem);
  border-radius: 50%;
  margin-right: 2px;
  margin-bottom: 18px;
}

.html-circle {
  background-color: #e34c26;
}

.css-circle {
  background-color: #563d7c;
}

.js-circle {
  background-color: #f1e05a;
}



@media all and (max-width: 767px) {

  .works h2 {
    padding: 15vw 0 0;
}
  .works_bg {
    background-size: 800%;
  }
  .works__flex {
        padding: 5%;
  }
  .works__image {
    height: 40vh;
    width: 100%;
  }
  .works__text {
    margin-top: 5vh;
    width: 100%;
    align-items: center;
  }
  .works__text__title {
    align-items: center;
    text-align: center;
  }
  .works__text__sent {
    width: 100%;
    padding: 3vh 0;
    margin: 0 auto;
  }

  .language-meter {
    width: 100%;
  }

  .language-meter-info {
    width: 100%;
  }
}
