



/* 
SETTING
zoom 50% 
Wholeは
*/

.spline {
  width: 80%;
  height: 50vh;
  margin: 10vh auto;
  position: relative;
  /* background-image: url(./assets/cut.png);
  background-repeat: no-repeat;
  background-size: cover;background-position: 0 30%; */
  
}

svg {
  position: absolute;
  bottom: 0;
}

canvas {
  position: absolute;
  bottom: 0;z-index: 2;
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vh;
  z-index: 1;
  /* object-position: 0%; */
}