

/* 🌸 だめだめだあtたので自作😵😵 */
.currently_pa {
    position: relative;
    border: 1px solid black;
    width: 80vw;
    height: 50vh;
    margin: 10vh auto;
  }



.slideAndRotate {
  position: absolute;
  width: 20vw;
  height: 20vw;
  /* border: 1px solid salmon; */
  border-radius: 50%;
  object-fit: cover;
  object-position: center 20%;
}

  
  .currently_left {
  
    animation-name: slideAndRotateLeft;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotateLeft {
    0% {
      opacity: 0;
      transform: translateY(1000%); 
      left: 37.5%;
    }
    50% {
      opacity: 0.5;
      /* transform: translateY(30%);  */
      left: 37.5%;
    }
    100% {
      opacity: 1;
      left: 5%;
      /* transform: translateY(30%); */
    }
  }
  







  .currently_middle {

    left: 37.5%;
  

    animation-name: slideAndRotateMiddle;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotateMiddle {
    0% {
      opacity: 0;
      transform: translateY(1000%); 
      
    }
    50% {
      opacity: 0.5;
      transform: translateY(30%); 
      
    }
    100% {
      opacity: 1;
      
      transform: translateY(30%);
    }
  }









  .currently_right {
  
    animation-name: slideAndRotateRight;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideAndRotateRight {
    0% {
      opacity: 0;
      transform: translateY(1000%); 
      left: 37.5%;
    }
    50% {
      opacity: 0.5;
      /* 🤔なぜここだけ30%でも高さが違うのか */
      transform: translateY(22%); 
      left: 37.5%;
    }
    100% {
      opacity: 1;
      left: 70%;
      transform: translateY(22%);
    }
  }






/* --- */

/* 
.currently_pa.fadeIn {
  animation: UpAnime 0.5s forwards;
    position: relative;
}


@keyframes UpAnime{
  from {
    visibility: hidden;
    
	transform: translateY(100px);
  }
  to {
    visibility: visible;
	transform: translateY(0);
  }
} */