/* 
font-family: 'Crimson Pro', serif;
font-family: 'Crimson Text', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Spline Sans', sans-serif;
font-family: 'Spline Sans Mono', monospace;
*/

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Crimson Text', serif;
  font-size: 1.3rem;
}

h2 {
  text-align: center;
}

.section {
  margin: 5vh auto;
}


/* TRANSLATE */

#translate {
  position: fixed;
  top: 17rem;
  right: .5rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 9999;
  color: #73aa8f;
  border: none;
  background-color: transparent;
  min-width: 1rem;
  min-height: 7rem;

  top: 4rem;
  right: 2rem;
  -ms-writing-mode: lr-bt;
  writing-mode: horizontal-tb;
}

#translate p {
  -ms-writing-mode: lr-bt;
  writing-mode: horizontal-tb;
  padding-right: 1rem;
}


/* NAVBAR */


.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  height: 5vh;
  padding: 2vw;
  width: 100%;
}

.nav-item {
  margin: 0 1vw;
}

.nav-link {
  font-size: 2.5rem;
  color: #343b41;
}




.fa-twitter:hover {
  color: #1d9bf0;
}

.fa-instagram:hover {
  color: #e905ab;
}

.fa-linkedin-in:hover {
  color: #004182;
  color: #1472d1;
}

.fa-github:hover {
  color: rgb(158, 154, 154);
}

.fa-note-sticky:hover {
  color: #2cb696;
}


/* HERO */

.hero {
  display: flex;
  height: 80vh;
  width: 100%;
  margin: 0 auto 15vh;
  background-image: url(../public/expand-long.png);
  /* background-image: url(../public/Surfers\ in\ lineup\ waiting\ -\ original\ painting\ by\ @lavater_art.jpg); */

  /* https://codepen.io/majidv/pen/MWjQaaQ */
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #e3e5e8 0%,
    #ebe4e3 10%,
    #e4e1e0 25%,
    #e8d9a9 45%,
    #66d2f0 60%,
    #a2e5ce 75%,
    #8ba9bf55 85%,
    hsla(220, 19%, 88%, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
}


.hero::before,
.hero::after,
.hero > .circles,
.hero > .circles::before,
.hero > .circles::after {
  filter: blur(75px);
}

.hero::before,
.hero::after {
  position: absolute;
  content: "";
  width: 390px;
  height: 390px;
  border-radius: 100%;
}

.hero::before {
  background: #c4d1b6;
  top: 100px;
  left: 200px;
}

.hero::after {
  background: #ffc285;
  right: 5px;
  top: 40%;
  transform: translateY(-50%);
}

.hero > .circles,
.hero > .circles::before,
.hero > .circles::after {
  border-radius: 100%;
  position: absolute;
}

.hero > .circles::before,
.hero > .circles::after {
  content: "";
  width: 140px;
  height: 140px;
  top: 50%;
  transform: translateY(-50%);
}

.hero > .circles {
  width: 230px;
  height: 230px;
  background: #ffc285;
  background: #00A5F4;
  bottom: 400px;
  left: 300px;
}

.hero > .circles::before {
  background: #9371b0;
  left: -40%;
}

.hero > .circles::after {
  background: #aa9696;
  right: -20%;
}
.hero_width {
  width: 80%;
  margin: 20vh auto 0;
    display: flex;
}

.hero_left {
  /* CSS properties for the .hero_left class */
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.intro {
  padding: 0 20%;
}

.intro h2 {
  font-size: 2.5rem;

}

.intro h3 {

}

.hero .spline {
  /* CSS properties for the .spline class */
  width: 80%;
  height: 80%;
}

.hero canvas {

}



.hero_right {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  z-index: 9;

}



/* BIO */
.bio {
  width: 100%;
  display: flex;
    flex-direction: column;
    gap: 2vw;
}

.bio_img {
  width: 25%;
  height: auto;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 50%;
}



.bio_p {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.bio_name {
  text-align: center;
}

.bio_snt {
  margin: 5vw auto;
}

.bio_snt.show {
  transform: translateX(0);
  opacity: 1;
}

.bio_snt1 {

}


.bio_snt2 {
  
}

.bio_snt3 {

}


.bio_snt4 {
  
}





/* AVATAR */
.avatar {
  height: 20vh;
}
.avatar .spline {
  width: 100%;
  height: 100%;
}





/* CURRENTLY */

/* 🌸 だめだめだあtたので自作😵😵 */
.currently_pa {
  position: relative;
  /* display: flex; */
  /* border: 1px solid black; */
  width: 80vw;
  height: 50vh;
  margin: 10vh auto;
}

.slideAndRotate {
  /* position: absolute; */
  width: 15rem;
  height: 15rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  object-fit: cover;
  object-position: center 20%;
}

.currently_child {
  display: flex;
  flex-direction: column;
  /* top: 30%;
  position: absolute; */
  width: 30%;
  align-items: center;
  text-align: center;
}
.currently_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15vh;
  margin: 5vh auto;
  text-align: left;
  text-align: center;

}

.currently_left {
  position: absolute;
  /* left: 10%; */
  
}

.currently_left {
  animation-name: slideAndRotateLeft;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slideAndRotateLeft {
  0% {
    opacity: 0;
    transform: translateY(1000%);

    left: 40%;
  }
  50% {
    opacity: 0.5;

    left: 40%;
  }
  70% {
    left: 40%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.currently_text_left {
  /* transform: translateY(300%); */

}

/* .currently_left p {

} */

/* ----- */

.currently_middle {
  position: absolute;
  left: 35%;
}

.currently_middle {
  animation-name: slideAndRotateMiddle;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slideAndRotateMiddle {
  0% {
    opacity: 0;
    transform: translateY(1000%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.currently_text_middle {
  /* transform: translateY(300%); */
}

/* ------ */

.currently_right {
  position: absolute;
  left: 70%;
}

.currently_right {
  animation-name: slideAndRotateRight;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slideAndRotateRight {
  0% {
    opacity: 0;
    transform: translateY(1000%);
    left: 37.5%;
    left: 40%;
  }
  50% {
    opacity: 0.5;
    /* 🤔なぜここだけ30%でも高さが違うのか */
  }
  70% {
    left: 40%;
  }
  100% {
    opacity: 1;
  }
}

.currently_text_right {
  /* transform: translateY(300%); */
}







@media all and (max-width: 768px) {
  #translate {
    top: 22rem;
    right: 0.8rem;
    padding: 0;
  }
  
  
  #translate p {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0;
    margin: 0 3vw 0 auto;
  }
  


/* NAVBAR */
  .nav-link {
    font-size: 2rem;
  }

  /* HERO */
  .hero {
    height: auto;
  }
  .hero_width {
    flex-direction: column;
    width: 90%;
  }
  .hero::before, .hero::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.hero::before {
  top: 50vh;
  left: 100px;
}

.hero .spline {
  width: 80%;
  height: 80%;
}



/* CURRENTLY */
  /* CURRENTLY */
  .currently {
    width: 90vw;
    margin: 0 auto;
  }
  .currently_pa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80vw;
    
  }

  .currently_child {
    width: 100%;
  }

  .currently_left {
    position: relative;
  }

  .currently_middle {
    position: relative;
    left: 0%;
  }

  .currently_right {
    position: relative;
    left: 0%;
  }

}