/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* 
font-family: 'Crimson Pro', serif;
font-family: 'Crimson Text', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Spline Sans', sans-serif;
font-family: 'Spline Sans Mono', monospace;
*/

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  cursor: none;
}

h2 {
  font-family: 'Crimson Pro', serif;
  text-align: center;
  font-size: 3rem;
}

h4 {
  font-family: 'Crimson Pro', serif;
  text-align: center;
  font-size: 1.5rem;
}

p {
  letter-spacing: 2px;
}

p,
a,
i {
  font-size: min(4.5vw, 1.2rem);
}

a {
  cursor: none;
}
/* 
body {
  height: 500vh;
  cursor: none;
  text-align: center;
  overflow-x: hidden;
  background-color: #FFFFE1;
  background-color: #fff0e1;
  background-color: rgba(217, 217, 217, 0.46);
} */

ol,
ul {
  list-style: none;
}

/* HEADER */

.navbar {
  background-color: transparent;
  margin-bottom: 10vh;
  padding: 1% 4%;
}

.navbar img {
  width: clamp(16px, 2vw, 5vw);
}

.navbar > .container-fluid {
  align-items: flex-start;
}

.nav-link {
  color: #60b357;
  position: relative;
}

.navbar-nav .nav-link {
  font-size: 2.7rem;
}

.nav-link i.change-color {
  color: #5e9a99;
}

.nav-item {
  margin: 0 0 0 2%;
}

.nav-item i {
  font-size: 2rem;
}

/* BOARD */
/* 
SETTING
zoom 20% 
Wholeは
*/

.spline {
  width: 80%;
  height: 50vh;
  margin: 10vh auto;
  position: relative;
  /* background-image: url(./assets/cut.png);
  background-repeat: no-repeat;
  background-size: cover;background-position: 0 30%; */
}

/* svg {
  position: absolute;
  bottom: 0;
} */

canvas {
  position: absolute;
  left: 0%;
  height: 100%;
}

/* img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vh;
  z-index: 1;
  object-position: 0%;
} */

/* BIO */
/* 🌸 だめだめだあ😵😵 */
.bio {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.bio_name {
  text-align: center;
  font-size:min(7vw,30px);
}

.bio_pa {
  position: relative;
  /* border: 1px solid black; */
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.bio_left {
  /* position: absolute; */
  width: 20%;
  border-radius: 50%;
  opacity: 1;
  margin: 0 auto;


  animation-name: slideAndRotate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}



/* @keyframes slideAndRotate {
  0% {
    opacity: 0;
    transform: translateY(1000%);
    left: 45%;
  }
  50% {
    opacity: 0.5;
  }

  60% {
    left: 45%;
  }
  100% {
    opacity: 1;
    left: 10%;
  }
} */

.bio_right {
  /* position: absolute; */
  width: 60%;
  margin: 0 auto;
  /* top: 20%;
  left: 45%; */
  line-height: 2rem;

  /* 🤔これにanimationつけるとtranslateのたびに再レンダリングされる問題 */
  /* animation-name: toRight;
  animation-duration: 5s;
  animation-fill-mode: forwards; */
}

/* @keyframes toRight {
  0% {
    opacity: 0;
    display: none;
    left: -100%;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 45%;
  }
} */

/* AVATAR */
/* 
SETTING
zoom 100%
*/

.avatar {
  width: 100%;
}

.canvas_pa {
  width: 35%;
  height: 40vh;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid black; */
}
/* 
canvas {
  border-radius: 20px;
} */

/* CURRENTLY */

/* 🌸 だめだめだあtたので自作😵😵 */
.currently_pa {
  position: relative;
  /* display: flex; */
  /* border: 1px solid black; */
  width: 80vw;
  height: 50vh;
  margin: 10vh auto;
}

.slideAndRotate {
  /* position: absolute; */
  width: 15rem;
  height: 15rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  object-fit: cover;
  object-position: center 20%;
}

.currently_child {
  display: flex;
  flex-direction: column;
  /* top: 30%;
  position: absolute; */
  width: 30%;
  align-items: center;
  text-align: center;
}
.currently_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15vh;
  margin: 5vh auto;
  text-align: left;
}

.currently_left {
  position: absolute;
  /* left: 10%; */
}

.currently_left {
  animation-name: slideAndRotateLeft;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slideAndRotateLeft {
  0% {
    opacity: 0;
    transform: translateY(1000%);

    left: 40%;
  }
  50% {
    opacity: 0.5;

    left: 40%;
  }
  70% {
    left: 40%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.currently_text_left {
  /* transform: translateY(300%); */
}

/* .currently_left p {

} */

/* ----- */

.currently_middle {
  position: absolute;
  left: 35%;
}

.currently_middle {
  animation-name: slideAndRotateMiddle;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slideAndRotateMiddle {
  0% {
    opacity: 0;
    transform: translateY(1000%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.currently_text_middle {
  /* transform: translateY(300%); */
}

/* ------ */

.currently_right {
  position: absolute;
  left: 70%;
}

.currently_right {
  animation-name: slideAndRotateRight;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slideAndRotateRight {
  0% {
    opacity: 0;
    transform: translateY(1000%);
    left: 37.5%;
    left: 40%;
  }
  50% {
    opacity: 0.5;
    /* 🤔なぜここだけ30%でも高さが違うのか */
  }
  70% {
    left: 40%;
  }
  100% {
    opacity: 1;
  }
}

.currently_text_right {
  /* transform: translateY(300%); */
}

@media all and (max-width: 768px) {
  /* NAVBAR */
  .navbar {
    padding: 1%;
  }
  .nav-item i {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link {
    font-size: 1.8rem;
    padding: 0.2rem 0;
  }

  /* BIO */
  .bio {
    min-height: 80vh;
  }
  .bio_pa {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: fit-content; */
    width: 80vw;
  }
  .bio_left {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    opacity: 1;
    transform: translateY(0%);
    left: 0%;
  }

  @keyframes slideAndRotate {
    0% {
      opacity: 0;
      transform: translateY(1000%);
      left: 0%;
    }
    50% {
      opacity: 0.5;
      }
  
    60% {
      left: 0%;
    }
    100% {
      opacity: 1;
      left: 0%;
      }
  }

  .bio_right {
    /* position: relative; */
    top: 35%;
    width: 100%;
    left: 0%;
    line-height: 1.5rem;
    margin: 2vh auto;
  }

  /* BOARD */
  .spline {

    margin: 20vh auto 0vh;

  }

  /* AVATAR */
  .avatar {
    width: 90vw;
    margin: 0 auto;
  }
  .canvas_pa {
    width: 100%;
  }
  .canvas_pa canvas {
    width: 100%;
    /* border: 1px solid black; */
  }

  /* CURRENTLY */
  .currently {
    width: 90vw;
    margin: 0 auto;
  }
  .currently_pa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80vw;
  }

  .currently_child {
    width: 100%;
  }

  .currently_left {
    position: relative;
  }

  .currently_middle {
    position: relative;
    left: 0%;
  }

  .currently_right {
    position: relative;
    left: 0%;
  }
}
