/* 
font-family: 'Crimson Pro', serif;
font-family: 'Crimson Text', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Spline Sans', sans-serif;
font-family: 'Spline Sans Mono', monospace;
*/

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Crimson Text', serif;
  font-size: 1.3rem;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h2 {
  text-align: center;
  font-size: max(2rem, 3vw);
  font-weight: bold;
}

.section {
  margin: 5vh auto;
}

a {
  color: #E16C64;
  text-decoration: none;
  transition: all .2s ease-in-out;

}

a:hover {
  color: #af8d8a;
  color: #7AA19A;

  /* text-decoration: underline; */

}



/* TRANSLATE */

#translate {
  position: fixed;
  top: 17rem;
  right: 0.5rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 9999;
  color: #B3966D;
  border: none;
  background-color: transparent;
  min-width: 1rem;
  min-height: 7rem;

  top: 4rem;
  right: 2rem;
  -ms-writing-mode: lr-bt;
  writing-mode: horizontal-tb;
}

#translate p {
  -ms-writing-mode: lr-bt;
  writing-mode: horizontal-tb;
  padding-right: 1rem;
}

/* NAVBAR */

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;
  height: 5vh;
  padding: 2vw;
  width: 100%;
  z-index: 99;
}

.navbar-brand {
  width: 5rem;
  height: auto;
}

.nav-item {
  margin: 0 1vw;
}

.nav-link {
  font-size: 2.5rem;
  color: #a3b1af;
  color: #75a19b;


  position: relative;


}



/* 🌸 */
/* .nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

FontAwesomeIcon {
  position: relative;
  z-index: 2;
} */



.fa-twitter {
  color:#739DA4;
}

.fa-instagram {
  color: #E16C64;
}

.fa-linkedin-in {
  color: #36457dc4;
}

.fa-github {
  color: #76838E;
}

.fa-note-sticky {
  color: #839B85;
}


.fa-twitter:hover {
  color: #1d9bf0;
}

.fa-instagram:hover {
  color: #e905ab;
}

.fa-linkedin-in:hover {
  color: #004182;
  color: #1472d1;
}

.fa-github:hover {
  color: rgb(158, 154, 154);
}

.fa-note-sticky:hover {
  color: #2cb696;
}

/* HERO */

.hero {
  display: flex;
  height: 99vh;
  width: 100%;
  margin: 0 auto 15vh;
  color: #fff;
  position: relative;
}

.hero_bg {
  width: 100%;
  height: 100%;
  filter: blur(6px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}


.hero_width {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.hero_left {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 4vw;
}

.hero_left h1 {
  font-size: 5rem;
  background-color: transparent;
  font-weight: bold;
}

.hero_left h3 {
  font-size: 3rem;
}



.spline_waves {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../public/expand-long-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 35%;

  filter: blur(3px);

  top: 0;
  left: 0;
}

.hero canvas {
}

.hero_right {
  text-align: left;
  width: 100%;
  margin: 0 auto;
}



/* BIO */
.bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;

  height: 75rem;
}

.bio_img_pa {
  width: 30%;
  height: auto;
  margin: 0 auto;
  background-image: url(../public/expand-long-min.png);
  background-position: center 30%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio_img {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  border-radius: 50%;
}

.bio_p {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.bio_name {
  text-align: center;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgb(98, 121, 129) 0%,
    rgb(103, 138, 163) 20%,
    rgb(91, 121, 83) 35%,
    rgba(188, 168, 120, 0.842) 71%,
    rgba(202, 197, 152, 0.842) 85%,
    rgba(190, 161, 88, 0.808) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}

.bio_snt {
  margin: 5vw auto;
}

.bio_snt.show {
  transform: translateX(0);
  opacity: 1;
}

/* AVATAR */
.avatar {
  min-height: 20vh;
}
.avatar .canvas_pa {
  height: 30vh;
}

.avatar .spline {
  width: 100%;
  height: 100%;
}


/* CURRENTLY */

.currently_pa {
  position: relative;
  width: 80vw;
  height: 50vh;
  margin: 10vh auto;
}

.currently_img_pa {
  position: relative;
  background-size: cover;
  background: -moz-linear-gradient(top left, #d2d984, #da7daf);
  background: -webkit-linear-gradient(top left, #73fb12, #553a8f);
  background: linear-gradient(to bottom right, #eee8cc, #c3dcde);

  background-color: #fff;
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  margin: 0 auto;
}

.works__image {
  position: relative;
  background-size: cover;
  background: -moz-linear-gradient(top left, #d2d984, #da7daf);
  background: -webkit-linear-gradient(top left, #73fb12, #553a8f);
  background: linear-gradient(to bottom right, #eee8cc, #c3dcde);
  width: 50%;
  height: 60%;
  border-radius: 20px;
  margin: 5vh auto;
}

.works__image__img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center 0%;
  scale: 0.8;
}

.currently_middle .currently_img_pa {
  background-position: center 10%;
}

.currently_right .currently_img_pa {
  background-position: center 25%;
}

.currently_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0%;
  scale: 0.8;
}

.currently_child {
  display: flex;
  flex-direction: column;

  width: 30%;
  align-items: center;
  text-align: center;
}
.currently_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5vh auto;
  text-align: center;
}

.currently_text p {
  text-align: left;

}

.currently_left {
  position: absolute;
}

.currently_left {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.currently_middle {
  position: absolute;
  left: 35%;
}

.currently_middle {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}



.currently_right {
  position: absolute;
  left: 70%;
}

.currently_right {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}



@media all and (max-width: 768px) {
  h3 {
    text-align: center;
  }

  #translate {
    top: 22rem;
    right: 1.2rem;
    padding: 0;
  }

  #translate p {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0;
    margin: 0 4vw 0 auto;
  }

  /* NAVBAR */
  .navbar-brand {
    width: 3rem;
  }
  .nav-link {
    font-size: 2rem;
  }

  /* HERO */
  .hero {
    min-height: 53rem;
  }
  .hero_width {
    flex-direction: column;
    top: 20%;
    left: 8%;
    margin: 10vh auto 0;
    gap: 20vw;
    height: 100%;
    justify-content: flex-start;
  }

  .hero canvas {
    transform: translateY(24%);
  }

  .hero_left {
    flex-direction: column;
    align-items: center;
  }

  .hero_left h1 {
    font-size: 3rem;
  }

  .hero_left h3 {
    font-size: 2rem;
  }

  /* BIO */
  .bio.section {
    height: 75rem;
  }

  .bio_p {
    width: 80%;
  }

  .bio_img_pa {
    width: 45%;
  }

  .bio_name {
    margin: 5vh auto 0;
  }

  /* CURRENTLY */
  .currently {
    height: auto;
    width: 90vw;
    margin: 0 auto;
  }
  .currently_pa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80vw;
  }

  .currently_child {
    width: 100%;
    margin: 2vh auto;
  }

  .currently_left {
    position: relative;
  }

  .currently_middle {
    position: relative;
    left: 0%;
  }

  .currently_right {
    position: relative;
    left: 0%;
  }
}

